header {
  width:100%;
  height:120px;
  background-color: #fbc;
  
}
#main-block {
  flex-direction: column;
  display:flex;
}
header img {
  padding: 10px 25px;
  float: left;
}
header h1 {
  padding: 10px 0px;
}
nav {
  margin: 10px 0 5px;
  background-color: #fbc;
}
#navigation {
  display:flex;
  flex-direction: column;
}
nav {
  padding: 10px 25px;
}

div.hypertext {
  margin: 5px 0;
  background-color: #fbc;
}

div.table {
  padding: 10px 25px;
  margin: 5px 0;
  background-color: #fbc;
}
div.forms {
  margin: 5px 0;
  background-color: #fbc;
  padding: 10px 25px
}
#list-block {
  padding: 0 0 0 5px;
}
footer {
  margin: 5px 0 0;
  background-color: #fbc;
  padding: 10px 0 10px 25px;
}
@media screen and (max-width: 1100px) {
  nav {
    width: 500px;
    height: 90px;
    margin: 10px auto;
  }
  nav a.wrd1{
    padding: 20px 0 0 30px;
  }
  nav a.wrd2{
    padding: 20px 0 0 30px;
  }
  nav a.wrd3{
    padding: 20px 0 0 30px;
  }
  div.hypertext {
    width: 270px;
    height: 400px;
    margin: 10px auto;
  }
  div.table {
    width: auto;
    height: auto;
    margin: 10px auto;
  }
  div.forms {
    width: 400px;
    height: 700px;
    margin: 10px auto;
    padding: 0px 10px
  }
  footer {
    width: 500px;
    height: 30px;
    margin: 10px auto;
    padding: 10px 0 0 50px;
  }
}
