main header {
  height:150px;
  background-color: #fbc;
  order:1;
}

header img {
  float: left;
}

nav {
  background-color: #fbc;
  height: 100px;
  order: 2;
}

div.hypertext {
  background-color: #fbc;
  order: 3;
}

div.table {
  background-color: #fbc;
  order: 4;
}

div.forms {
  background-color: #fbc;
  order: 5;
}

footer {
  background-color: #fbc;
  order: 6;
}

@media screen and (max-width: 480px) {
  nav {
    width: 75%;
    height: 100px;
  }

  div.hypertext {
    width: 75%;
  }

  div.table {
    width: 75%;
    order: 5;
  }

  div.forms {
    width:75%;
    order: 4;
  }
}
